@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "tailwindcss";
@import "./tailwind.config.css";
@plugin "../../../hero.ts";
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

*,
*:before,
*::after {
  font-family: "pretendard", sans-serif;
}
